body{
    background-image: url(fondo.jpg);
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 20px;
}
header {
    background-color: #327797;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.text-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
h2{
    color: seagreen;
}
.img1 {
    width: 16.5%;
    text-align: left;
    margin-right: 20px;
}
.img1 img {
    max-width: 100%;
    border-radius: 10px;
}
button {
    background-color: #474747;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color:#327797 ;
}
footer {
    background-color: #041404;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}